# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
*.log
.DS_Store
Thumbs.db
/dist/client
/e2e/*
/projects/*
/src/*
/schematics
/sandbox
node_modules
angular.json
tslint.json
tsconfig.json
README.md
.prettierrc 
.editorconfig
