language: node_js
node_js:
  - '12'

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
script:
  - npm run build
  - npm run lint
  - npm run test
  - npm run sandbox.test
