<div>
  <h1>
    Angular One-Signal Web Push Example
  </h1>

  <p> USER ID: {{onesignal.userId$ | async}}</p>
  <p> TAGS: {{tags$ | async | json}}</p>

  <p> is subscribe: {{onesignal.isSubscribe$ | async}}</p>
  <p> is subscribe: {{onesignal.subscribeState$ | async | json}}</p>
  <p> is supported: {{onesignal.isSupported$ | async}}</p>

  <button (click)="onSubscribe()" >subscribe</button>

  <button (click)="onUnSubscribe()" >unsubscribe</button>
  <br>
  <button (click)="testPush()" >TestPushMethod</button>

  <button (click)="getTags()" >getTag</button>

</div>
